.signin-container {
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #38b6ff;
    width: 100%; /* Ensure the image takes the full width of its container */
    height: 100vh; /* Ensure the image takes the full height of the viewport */
    background-image: url('../assets/Background.png'); /* Set the background image */
    background-size: cover; 
  }
  
  .sign-in-card {
    padding: 5em;
    /* border: 2px solid black; */
    border-radius: 2em;
    /* background-color: white; */
  }
  .sign-in-label{
    font-size: 2.5em;
    margin: 0.5em;
    text-align: center;
    /* color: #38b6ff; */
    color: black;
    font-weight: 750;
  }
  .password-input {
    padding: 0.6em;
    width: 30em;
    font-size: 1em;
    margin: 0.5em;
    border: none;
    background-color: rgb(201, 225, 246);
    border-radius: 0.7em;
    outline: none;
  }
  .email-input {
    padding: 0.6em;
    width: 30em;
    font-size: 1em;
    margin: 0.5em;
    border: none;
    background-color: rgb(201, 225, 246);
    border-radius: 0.7em;
    outline: none;
  }
  .signin-button{
    color: white;
    border: none;
    font-size: 1.2em; /* Adjust font size as needed */
    border-radius: 0.8em;
    cursor: pointer;
    background-color: black;
    padding: 10px 35px 10px 35px;
    margin-top: 0.5em;
  }
  .sign-in-button-div{
    display: flex;
    justify-content: center;
  }